/Class Code/CIS18C - w06/LinkedList/build/
/Class Code/CIS18C - w08/DoubleLinkedList/New Folder/DoubleLinkedList/nbproject/private/
/Class Code/CIS18C - w08/DoubleLinkedList/New Folder/DoubleLinkedList/build/
/Class Code/CIS18C - w08/DoubleLinkedList/New Folder/DoubleLinkedListInterface/nbproject/private/
/Class Code/CIS18C - w08/DoubleLinkedList/New Folder/DoubleLinkedListTest/nbproject/private/
/Class Code/CIS18C - w08/DoubleLinkedList/New Folder/DoubleLinkedListTest/build/
/Class Code/CIS18C - w08/DoubleLinkedList/Implemented/DoubleLinkedListTest/build/
/Class Code/CIS18C - w08/DoubleLinkedList/Implemented/DoubleLinkedListTest/nbproject/private/
/Class Code/CIS18C - w09/Stack/nbproject/private/